/* Aviator.css */
*{
  overflow-x: hidden;
}
.card-body {
  position: relative;
  overflow: hidden; /* Hide overflow content */
}
.random-time {
  border: 1px solid #ccc; /* Add border */
  background-color: #cada61; /* Add background color */
  padding: 4px; /* Add padding */
  margin: 2px; /* Add margin */
  border-radius: 30%;
}

.blade-image {
  animation: rotate 1s linear infinite; /* Apply the animation to rotate the image */
  transform-origin: center; /* Set the rotation origin to the center of the image */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start the rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate the image to 360 degrees */
  }
}

/* Aviator.css */
.fighter-jet-image {
  position: absolute;
  top: 65%;
  left: 0;
  transform: translateZ(0);
}

.plane_take_off {
  animation: take_off 500ms ease-out 1;
}

.plane_flying {
  animation: flying 10s linear infinite;
  top: 0;
  left: 60%;
}

.plane_visibility {
  position: absolute;
  top: -10%;
  left: 120%;
}

@keyframes take_off {
  0% {
    top: 5%;
    left: 75%;
  }
  to {
    top: 0;
    left: 120%;
  }
}

@keyframes flying {
  0% {
    top: 20%;
    left: 50%;
  }
  15% {
    top: 30%;
    left: 55%;
  }
  30% {
    top: 10%;
    left: 52%;
  }
  50% {
    top: 30%;
    left: 51%;
  }
  70% {
    top: 10%;
    left: 50%;
  }
  85% {
    top: 30%;
    left: 52%;
  }
  to {
    top: 10%;
    left: 62%;
  }
}

/* Countdown.css */
.countdown-animation {
  animation: pulse 1s ease-in-out infinite, grow 15s linear; /* Apply the pulsating animation and grow animation */
}

@keyframes pulse {
  0% {
    transform: scale(1.2); /* Start with larger size */
  }
  50% {
    transform: scale(1.5); /* Increase size */
  }
  100% {
    transform: scale(1.2); /* Return to original size */
  }
}

@keyframes grow {
  0% {
    font-size: 18px; /* Start with smaller font size */
  }
  100% {
    font-size: 36px; /* Grow to larger font size */
  }
}

.cashout-btn {
  position: absolute;
  top: 50%;
  left: 50%;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}

.bg-animation {
  animation: moveBackground 1s linear infinite;
  background-repeat: repeat-x;
}

.Modal-btn {
  height: 4vw;
  width: 9vw;
  margin: 1vw;
}

.btn-info {
  height: 4vw;
  width: 9vw;
  margin: 1vw;
}

@media (max-width: 576px) {
  .btn-info {
    height: 5vh;
    width: 11vw;
    margin: 3vw;
  }
  .Modal-btn {
    height: 10vw;
    width: 26vw;
  }
  .modal-body {
    font-size: 13px;
  }
}


@media (max-width: 576px) {
  .resp-aviator {
    height: 300px !important; 
    
  }
  .resp-container {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: center;
 }
 .fighter-jet-image{
  width: 34vw !important;
 }
}